/*1300 baino gutxiagoko pantailara egiteko*/

@media screen and (max-width: 1300px) {
  footer {
    padding: 30px;
  }

  #datuak {
    max-width: max-content;
  }



}

/*800 baingo gutxiagoko pantailara egiteko*/
@media screen and (max-width: 800px) {

  #footerkarratu {
    justify-content: center;
  }

  svg {
    margin: 10px;
  }

  .infodiv {
    padding-left: 5px;
    padding-right: 5px;
  }

  .informazioa {
    width: fit-content;
    padding-left: 0;
  }

}

/*768 baino gutxiagoko pantailara egiteko*/
@media screen and (max-width: 768px) {
  
  .menu {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    overflow: hidden;
    background-color: #273036;
  }

  .albumlist {
    padding: 0;
  }

  .langilekutxa {
    padding: 0;
  }

  .menu.active {
    max-height: 500px; 
    opacity: 1;
  }

  .menu-toggle {
    display: flex;
  }

  .menu a {
    margin-bottom: 30px;
  }

  
 

}
