@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@200;300&family=Pathway+Gothic+One&family=Poppins:wght@300&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Advent Pro';
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #273036;
  font-family: "Poppins";
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-height: 0;
  transition: max-height 1s ease, opacity 1s ease;
}

.menu a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #00bcd4;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  transition: 0.4s;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: white;
  transition: 0.4s;
}

.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(9px) rotate(-40deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(40deg);
}

main {
  flex: 1;
  background-color: #43484b;
}

footer {
  color: rgb(226, 226, 226);
  padding: 0 100px;
  font-family: "Poppins";
  background-color: #273036;

}

#info {
  background-color: #273036;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#datuak {
  text-align: justify;
  max-width: 600px;
}

.kategoriak ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.kategoriak a {
  text-decoration: underline;
  color: rgb(240, 240, 240);
}

.kategoriak a:hover {
  font-weight: bolder;
}

#footerkarratu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

svg {
  width: 30px;
  filter: grayscale(100);
  transition: 1s;
}

svg:hover {
  filter: grayscale(0);
}

.copy {
  text-decoration: underline;
  color: white;
}