/*langile kutxak ondo ikusteko*/
.langilekutxa {
    display: grid;
    margin: 50px 0;
    padding: 0 15vh;
    grid-gap: 5vw;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 0.3fr));
    margin-bottom: 85px;

}

/*departamentuen kutxak ondo ikusteko*/
.departamentukutxa {
    display: grid;
    margin: 50px 0;
    padding: 0 15vh;
    grid-gap: 5vw;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 0.3fr));
    margin-bottom: 85px;

}

/*img tamaina*/
.langilekutxa img {
    width: 38%;
}

/*img tamaina*/
.departamentukutxa img {
    width: 38%;
}

/*langileizena kutxa*/
.langileizena {
    display: 	flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ffe75f;
    border: 4px solid #ffd000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

/*departamentu kutxa*/
.departamentuizena {
    display: 	flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #ffe75f;
    border: 4px solid #ffd000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}

/*Langilearen izena tamaina*/
.langileizena h4 {
    font-size: 25px;
    text-align: center;
}

/*Departamentu izena tamaina*/
.departamentuizena h4 {
    font-size: 25px;
    text-align: center;
}

/*Langile kutxen animazioa egiteko 0 tamainatik 20-ra(hover)*/
.langileizena .informazioguztia {
    display: block;
    opacity: 0;
    font-size: 0;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

/*Departamentu kutxen animazioa egiteko 0 tamainatik 20-ra(hover)*/
.departamentuizena .informazioguztia {
    display: block;
    opacity: 0;
    font-size: 0;
    transition: opacity 0.3s ease, font-size 0.3s ease;
}

/*Langile kutxen animazioa egiteko 0 tamainatik 20-ra(hover)*/
.langileizena:hover .informazioguztia {
    opacity: 1;
    font-size: 20px;
}

/*Departamentu kutxen animazioa egiteko 0 tamainatik 20-ra(hover)*/
.departamentuizena:hover .informazioguztia {
    opacity: 1;
    font-size: 20px;
}



 /*
@media screen and (max-width: 903px) {
   .langilekutxa {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .langileizena {
        flex: 1 1 calc(50% - 20px); 
        margin: 10px; 
    }

    .langilekutxa img {
        max-width: 100px;
        height: auto; 
    }

    .departamentukutxa {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .departamentuizena {
        flex: 1 1 calc(50% - 20px); 
        margin: 10px; 
    }

    .departamentukutxa img {
        max-width: 100px;
        height: auto; 
    }
}
    */

/*Checkbox ccs-a*/
.checkbox-ak {
    background-position: right 10px center;
    padding: 8px 32px 8px 8px;
    border-radius: 5px;
    background-color: #ffe75f;
    border: 4px solid #ffd000;
    font-size: 15px;
    width: 200px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 1%;
}

/*Erdian egoteko*/
#filtratzailea {
    text-align: center;
}
    

/*orrialde aldaketa egiteko*/
.garbitubutton{
    background-position: right 10px center;
    padding: 8px 32px 8px 8px;
    border-radius: 5px;
    background-color: #ffe75f;
    border: 4px solid #ffd000;
    font-size: 15px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    font-family: 'Advent Pro';
    color: black;
    justify-content: center;
    align-items: center;
}

/*ardurak-en css*/
.identifikatzaileaArdu{
    color: whitesmoke;
    font-size: 20px;
    margin-right: 1em;
    margin-bottom: 2em;
    }

/*form-a eta ardura textua batera erdian egoteko*/
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
